@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Poppins:ital,wght@0,300;0,500;1,400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

 /* HEADER CONTENT CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,1)),
        url(./resources/Header/Tittle.jpg);
    background-position: auto;
    background-repeat: no-repeat;
    color: aliceblue;   
    background-size: cover;
    min-height: 60vh;
    display: flex;
    align-items: center;
}


.menu { /*(0.1.0)*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo { /*(0.1.0)*/
    color: #fffdfc;
    font-size: 30px;
    font-weight: 800;
}

/*Posicion de NavBar*/
.menu .navbar ul li{
    position: relative;
    float: left;
}

/*Color de NavBar*/
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

/* Iluminar si pasa el mouse encima */
.menu .navbar ul li a:hover{    /*(0,3,3)*/
    color: aqua;
}

.header-content {
    /*Mortal Kombat Title Style*/
    font-size: 3rem;
    background:linear-gradient(180deg,#8d8888,#ffffff);

    /*Quitar color de la fuente*/
    -webkit-text-fill-color: transparent;
    
    /*Colocar el fondo como color de la fuente*/
    -webkit-background-clip: text;

    /*Position title*/
    position: relative;
    top: 150px;
    
}


/* MIDDLE CONTENT CSS*/
/*Titulo 2 "Mortal kombat!*/
.Middle h3 {
    font-size: 35px;
    line-height: 70px;
    color: #323232;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
}
.Middle p { /*Parrafo de Mortal Kombat*/
    font-size: 17px;
    text-align: center;
}

/*Style Group margin */
.Middle-group{
    width: 100%;
    max-width: 1600px;
    height: 450px;
    display: flex;
    justify-content: center;
    margin: auto;
}
/*Style Cards*/
.Middle-group .Cards {
    padding-top: 5px;
    width: 350px;
    height: 700px;
    border-radius: 55px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow:  hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.Middle-group .Cards:hover {
    transform: translateY(-15px);
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
} 

.Middle-group .Cards img {
        width: 350px;
        height: 400px;
        
}

.Middle-group .Cards h4{
    font-weight: 600px;
}









