@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Poppins:ital,wght@0,300;0,500;1,400&display=swap');



body{
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(180deg,#000000,#312d2d);
}

/* HEADER CONTENT CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,1)),
        url(./resources/Header/Tittle.jpg);
    background-position: center 0%;
    background-repeat: no-repeat;
    color: aliceblue;   
    background-size: cover;
    min-height: 60vh;
    display: flex;
    align-items: center;
}


.menu { /*(0.1.0)*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo { /*(0.1.0)*/
    color: #fffdfc;
    font-size: 30px;
    font-weight: 600;
    position: relative;
}

/*Posicion de NavBar*/
.menu .navbar ul li{
    position: relative;
    float: left;
}

/*Color de NavBar*/
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

/* Iluminar si pasa el mouse encima */
.menu .navbar ul li a:hover{    /*(0,3,3)*/
    color: aqua;
    font-size: 19px;
}

.header-content {
    /*Mortal Kombat Title Style*/
    font-size: 3rem;
    background:linear-gradient(180deg,#8d8888,#ffffff);
    text-align: center;
    margin-top: 20%;
    /*Quitar color de la fuente*/
    -webkit-text-fill-color: transparent;
    
    /*Colocar el fondo como color de la fuente*/
    -webkit-background-clip: text;

    /*Position title*/
    /* position: relative;
    top: 150px; */
}


/* MIDDLE CONTENT CSS*/
/*Titulo 2 "Conoce sobre Mortal kombat!*/
.Middle h3 {
    font-size: 35px;
    line-height: 70px;
    color: #a8eeff;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
}
.Middle p { /*Parrafo de Mortal Kombat*/
    font-size: 17px;
    text-align: center;
    color: #c0c0c0;
}

.Middle {
    background:linear-gradient(180deg,#000000,#312d2d);
}

/*Style Group margin */
.Middle-group{
    width: 100%;
    max-width: 1600px;
    height: 550px;
    display: flex;
    justify-content: center;
    margin: auto;
}
/*Style Cards*/
.Middle-group .Cards {
    width: 350px;
    height: 475px;
    border-radius: 55px;
    box-shadow: 0 6px 6px rgb(0, 0, 0);
    overflow:  hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #fffdfc;
}

.Middle-group .Cards:hover {
    transform: translateY(-15px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(197, 255, 255);
} 

.Middle-group .Cards img {
        width: 350px;
        height: 400px;
        border-radius: 1px;
}

.Middle-group .Cards h4{
    font-weight: 600px;
    background-color: black;
    color: rgb(215, 255, 255);
}

.btn-1 {
    color: rgb(46, 46, 46);
    font-size: 20px;
}

.btn-1:hover {
    color: blue;
}

/* BOTTOM CONTENT CSS*/

/*Style Subtitulo "LO LLEVAMOS EN LA SANGRE"*/
.Subtitle-Kronology h2{
    font-size: 70px;
    color: #434343;
    text-align: center;
    padding-top: 8rem;
    margin-bottom: 25px;
    background:linear-gradient(180deg,#000000,#fdff7c);

    /*Quitar color de la fuente*/
    -webkit-text-fill-color: transparent;
    
    /*Colocar el fondo como color de la fuente*/
    -webkit-background-clip: text;
}

.Subtitle-Kronology p{
    font-size: 28px;
    line-height: 20px;
    color: #b9fff0ec;
    text-align: center;
    margin-bottom: 60px;
}

/*MORTAL KOMBAT WINDOW SECTION*/

 /*Color de Mortal Kombat Container */
.Mortal-Kombat-History{
    background-color: #312d2d;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/*Mortal Kombat Window Template */
.Windows-group {
    width: 100%;
    max-width: 1600px;
    height: 700px;

    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.window_mk {
    width: 480px;
    height: 600px;
    border-radius: 35px;
    overflow: hidden;
    border: 6px solid #f6ffc2;
    margin: 35px;
    position: relative;
}

.Windows_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
/*Info Windows*/
.Windows_info {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    border: 15px;
    backdrop-filter: blur(3px) brightness(20%);
    color: #a8eeff;
    padding: 35px;

    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.Windows_title {
    padding-top: 25px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}

.Windows_txt {
    padding-top: 3rem;
    text-transform: capitalize;
    line-height: 35px;
    font-size: 20px;
    margin: 40px, 0;
    font-weight: 400px;
}
/*Transicion de volver con hover*/
.window_mk:hover .Windows_info{
    right: 0;
}



/*About Us */

/*Scorpion side*/
.about-mk {
    background-color:  #434343;
    border-radius: 35px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.about-content {
    width: 60%;
}

.about-content .title {
    text-align: center;
    padding: 60px;
    padding-bottom: 10px;
    font-size: 50px;
    color: orange;
}

.Get-Over-Here-photo {
    width: auto;
    height: auto;
    padding: 85px;
    padding-top: 25px;
    padding-bottom: 25px;

}

.Get-Over-Here-img{
    width: 100%;
    border-radius: 45px;
}

.Get-Over-Here-txt {
    text-align: center;
    padding: 25px;
    border-radius: 35px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    background-color: #d99b5d;
    justify-content: center;
}


.Que-inspiro-Mortal-Kombat{
    width: 30%;
}

.imagen {
    padding: 25px;
}

.imagen img {
    width: 100%;
}



/*Responsive Screen*/
@media screen and (max-width: 800px) {
    .Middle-group,.Windows-group{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

}







